#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img {
  width: 100px;
}

table {
  border-collapse: collapse;
  font-size: 1.5rem;
}

th {
  background-color: black;
  color: white;
  padding: 0.5rem 1rem; 
}

td {
  background-color: whitesmoke;
  padding-top: 1rem;
}

.div-btn {
  display: flex;
  justify-content: space-evenly;
}

.btn {
  margin-bottom: 2rem;
  background-color: lightgray ;
}

td button {
  padding: 0.5rem;
  background-color: lightgray;
  font-size: 1rem;
}