.App {
  text-align: center;
}

body,
table {
  text-align: center;
  margin: 0 auto;
}

table {
  display: flex;
  justify-content: center;
}

button {
  margin: 0.5em;
  cursor: pointer;
}

button:hover {
  background-color: #bee7d8;
  color: rgb(62, 122, 43);
}