.App img {
	width: 100px;
	font-family:  sans-serif;
}
body {
	font-family: sans-serif;
}

table {
	table-layout: fixed;
	border-collapse: collapse;
}

.cup {
	font-size: 2.4em;
}

td,tr,th {
	border: 2px solid rgb(23, 115, 196);
	border-collapse: collapse;
	text-align: center;
	padding: 5px;
}

.delete-button {
	background-color: red;
	border: none;
	padding: 8px;
	color: white;
	font-weight: bold;
	cursor: pointer;
	border-radius: 4px;
}

.normal-button {
	margin-right: 12px;
	margin-bottom: 10px;
	background-color: rgb(85, 158, 222);
	border: none;
	padding: 8px;
	color: white;
	cursor: pointer;
	border-radius: 6px;
}